
form {
  max-width: 600px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0;
  border-radius: 0.125rem 0.25rem;
  background-color: hsl(222, 20%, 95%);
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

button {
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.125rem 0.25rem;
  background-color: hsl(218deg 92% 57%);
  color: #fff;
}

.required-mentions {
  text-align: right;
  font-style: italic;
}
