
.field {
  margin-bottom: 1rem;
}

.label,
label {
  font-size: 1em;
  font-weight: normal;
  display: block;
  margin-bottom: 0.5rem;
  transition: all 150ms;
}

select,
input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  border-radius: var(--radius);
  background-color: var(--bg-lighter);
  color: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5rem;

  + label {
    display: inline;
    margin-bottom: 0;
  }
}

button[type="submit"] {
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.25rem;
  background-color: hsl(218deg 92% 57%);
  color: #fff;
}

.error {
  display: none;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  background: #f8dada;
  color: var(--error);
  border-left: 5px solid var(--error);
  border-radius: 0 var(--radius) var(--radius) 0;

  p {
    margin: 0;
  }

  .c11-10 & {
    display: block;
  }
}

.required-mentions {
  text-align: right;
  font-style: italic;
}

.inline-fields {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
  gap: 1rem
}

.radio-list-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
  gap: 1rem
}

.inline-help {
  margin: 0 0 0.5rem;
  font-size: small;
}
