
.field {
  margin-bottom: 1rem;
}

.label,
label {
  font-size: 1em;
  font-weight: normal;
  display: block;
  margin-bottom: 0.5rem;
  transition: all 150ms;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  font-size: 1rem;
  border: 0;
  border-radius: 0.25rem;
  background-color: hsl(222, 20%, 90%);
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5rem;

  + label {
    display: inline;
    margin-bottom: 0;
  }
}

button[type="submit"] {
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.125rem 0.25rem;
  background-color: hsl(218deg 92% 57%);
  color: #fff;
}

.required-mentions {
  text-align: right;
  font-style: italic;
}

.radio-list-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
  gap: 1rem
}
