
.hint {
  display: none;
  font-size: 1rem;
  margin: 20px 0;
  background: var(--bg-lighter);
  padding: 1rem 2rem;
  border-radius: var(--radius);

  ul {
    margin: 1rem 0;
    padding: 0;
  }

  * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

code {
  background-color: var(--bgcolor);
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
}

.hint-note {
  border-left: 5px solid var(--hl);
  padding: 10px 10px 10px 20px;
  background: var(--bgcolor);
  border-radius: 0 10px 10px 0;
}

// Higlighting.

@mixin outline {
  outline: 2px dashed var(--hl);
  outline-offset: 4px;
}

.outline {
  @include outline;
}

