
.hint {
  display: none;
  font-size: 1rem;
  margin: 20px 0;
  background: lightyellow;
  padding: 1rem 2rem;
  border-radius: 10px;

  ul {
    margin: 1rem 0;
    padding: 0;
  }

  * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

code {
  background: orange;
  padding: 2px 5px;
  border-radius: 3px;
}

.hint-note {
  border-left: 5px solid orange;
  padding: 10px 10px 10px 20px;
  background: #ffe2ad;
  border-radius: 0 10px 10px 0;
}

// Higlighting.

@mixin outline {
  outline: 2px dashed orange;
  outline-offset: 4px;
}

.outline {
  @include outline;
}

.c11-10 {

  .error {
    display: block;
  }
}
